{
  "extends": ["vtex", "plugin:relay/recommended"],
  "ignorePatterns": [
    "__mocks__/",
    "__generated__/"
  ],
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "extends": ["vtex-react"]
    }
  ],
  "rules": {
    "relay/generated-flow-types": "off"
  },
  "plugins": ["relay"]
}
